body {
  font-size: 16px;
  color: #2d1e2f;
}
.content {
  margin: 50px auto;
  height: 90vh;
  width: 80%;
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navigation {
  display: flex;
  justify-content: center;
}

.navigation--link {
  font-size: 1.2em;
  font-weight: 600;
  padding: 15px;
  text-decoration: none;
  color: white;
  background-color: #00a751;
  border: 3px solid white;
  border-radius: 10px;
}

.link--sem {
  margin-right: 50%;
  background-color: rgb(218, 22, 22);
  color: white;
}
.about-project {
  max-width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  padding: 15px 25px;
  background-color: #f7b32b;
  border-radius: 16px;
  color: white;
}

.project-heading {
  font-size: 2em;
  font-weight: 600;
}

.image {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
img {
  width: 100%;
}

footer {
  text-align: center;
}

/*---- styly o nás ----*/

.kontejner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.vizitka {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30%;
}
.moje-foto {
  border-radius: 50%;
  width: 100%;
}
a {
  color: #00a751;
  text-decoration: none;
}
h3 {
  text-align: center;
}

.about-me {
  max-width: 50%;
  text-align: center;
  margin: 50px 0;
  margin-left: 50px;
  padding: 15px 25px;
  background-color: #f7b32b;
  border-radius: 16px;
  color: white;
}
