body {
  font-size: 16px;
  color: #2d1e2f;
}
.content {
  margin: 50px auto;
  height: 90vh;
  width: 80%;
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation--link {
  font-size: 1.2em;
  font-weight: 600;
  padding: 5px 10px;
  border-bottom: 3px solid #f7b32b;
  border-top: 3px solid #f7b32b;
  text-decoration: none;
  color: inherit;
  background-color: white;
}

.navigation--link:hover {
  background-color: #f7b32b;
  border-radius: 10px;
  transform: scale(1.1);
}

.about-project {
  max-width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  padding: 15px 25px;
  background-color: #f7b32b;
  border-radius: 16px;
  color: white;
}

.project-heading {
  font-size: 2em;
  font-weight: 600;
}

.image {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
img {
  width: 100%;
}

footer {
  text-align: center;
}

/*---- styly o nás ----*/

.kontejner {
  display: flex;
  flex-direction: row;
}
.vizitka {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30%;
}
.moje-foto {
  border-radius: 50%;
  width: 100%;
}
a {
  color: #2a7bf7;
  text-decoration: none;
}
h3 {
  text-align: center;
}
